body {
  font-family: sans-serif;
}
.card {
  color: #64686c;
  margin-top: 50px;
  margin-left: 50px;
  height: 500px;
  width: auto;
  padding: 40px;
  border-radius: 10px;
}
.card-body {
  padding: 0%;
}

form.enter-city-form {
  border-color: #efefef;
  border-width: 2px;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #7e8286;
  width: 100%;
}

.form-group .row .col-2,
.form-group .row .col-4 {
  display: flex;
  align-items: center;
  padding: 0 2px;
}

.form-group .row div:nth-child(2) {
  margin-right: -8px;
}

.form-group .row div:nth-child(3) {
  margin-right: -5px;
}

.form-group .row .col > input.btn.btn-primary {
  color: #7e8286;
  padding: 8px 25px;
  border: 0px;
  margin-left: 0px;
  margin-right: 2px;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group .row .col > input.btn.btn-success {
  color: #ffff;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 25px;
  margin-right: 0px;
  margin-left: 2px;
}

h1 {
  font-size: 38px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  color: #202124;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.todays-condition {
  padding: 0;
  text-align: left;
  color: #64686c;
  font-size: 20px;
  line-height: 24px;
  margin-left: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.weather-description {
  text-transform: capitalize;
}

span.temperature {
  position: relative;
  color: #202124;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 75px;
  font-weight: bold;
  top: -8px;
  margin-left: 10px;
}
.temp-units {
  position: absolute;
  color: #64686c;
  font-size: 20px;
  top: 223px;
  left: 155px;
}

div.weather-condition-values {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #64686c;
  font-size: 20px;
  font-weight: 100;
  line-height: 24px;
  top: 35px;
  left: 40px;
}

li {
  list-style: none;
}

span.weather-element-links {
  font-size: 17px;
  position: absolute;
  top: 320px;
  left: 55px;
}

span.temperature-link {
  text-decoration: none;
  padding-bottom: 5px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid;
  border-color: #ffd031;
}
span.pipe1,
span.pipe2 {
  padding: 5px;
  font-weight: 100;
}

span.open-source-link {
  font-size: 15px;
  margin-left: 50px;
  font-family: sans-serif;
}
